extends layout
block stylesheet
	link(rel='stylesheet', href='/css/index.css')

block content
	#container.col
		.heading
			-var patient = user.patient
			h1.page_title PillStacks
			h2 Welcome to #{patient}'s Page
			//____ is whatever was put into 'patient' in the registration page

		br
		-var day = new Date().getDay()
		-for (var i = day; i < 7; ++i)
			if user.pillbox[i]
				-var wrongDay = i + 1
		#status
			case day
				when 0
					h2 Sunday
				when 1
					h2 Monday
				when 2
					h2 Tuesday
				when 3
					h2 Wednesday
				when 4
					h2 Thursday
				when 5
					h2 Friday
				when 6
					h2 Saturday
			if user.pillbox[day]
				h3 #{patient} has taken their pills today!
			else if wrongDay
				case wrongDay
					when 1
						h3 #{patient} has accidentally taken the pills for Monday!
					when 2
						h3 #{patient} has accidentally taken the pills for Tuesday!
					when 3
						h3 #{patient} has accidentally taken the pills for Wednesday!
					when 4
						h3 #{patient} has accidentally taken the pills for Thursday!
					when 5
						h3 #{patient} has accidentally taken the pills for Friday!
					when 6
						h3 #{patient} has accidentally taken the pills for Saturday!
			else
				h3 #{patient} has not taken today's pills yet.
				br
				br
				br
				h4 Would you like to alert #{patient} to take today's pills?
				#userAlert
					input(type='submit', name='alert', value='Send Alert', class='button', id='alert')
			br
			br
			//- if day == 0
			//- 	h3 Would you like to send a refill courier to #{patient}'s house?
			//- 	#userAlert
			//- 		a(href="/deliver")
			//- 			button(name='courier', class='button', id='alert') Send Courier